<div class="container">
 <div class="row">
  <div class="span8 offset2">
 <div id="login-wrapper">
 <%= form_for(resource, :as => resource_name, :html => {class:"form login-form"}, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
 <%= devise_error_messages! %>
 <legend>Forgot your <span class="blue">Password?</span></legend>
  <div class="inner-login-wrapper">
   <%= f.label :email %>
   <%= f.email_field :email, :autofocus => true %>
   <br>
   <%= f.submit "Send me reset password instructions", :class => 'btn btn-success' %>
   </div><!--/inner-login-wrapper-->
  <% end %>
 </div><!--/login wrapper -->
</div>
</div>
</div><!--/container -->

