<% if @user_hour.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <a class="close" data-dismiss="alert">&#215;</a>
    <h2><%= pluralize(@user_hour.errors.count, "error") %> prohibited this model from being saved:</h2>
    <ul>
      <% @user_hour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <div class="row">
    <div class="span7 logHours data-block">
     <%= form_for @user_hour do |f| %>
      <header>
       <h2><span class="icon-th">&nbsp;Edit your hours for <%= @user_hour.date_occurred.strftime("#{@user_hour.date_occurred.day}, %b %Y") %></span></h2>
      </header> 
      <section class="tab-content">
   
       

      <div class="control-group">
        <%= label_tag "Placement Name", nil, class: 'control-label' %>
        <div class="controls">
         <%= autocomplete_field_tag "placement[name]", placement_name(@placement), user_hour_autocomplete_path, :update_elements => {:area => '#form_area'} %>
        </div>
      </div>

      <div class="control-group">
       <%= label_tag "Placement Area", nil, class: 'control-label' %>
        <div class="controls">
         <%= text_field_tag "placement[area]", placement_area(@placement), :id => "form_area" %>
        </div>
      </div>

      <div class="control-group">
       <%= f.label :hours, :class => 'control-label' %>
        <div class="controls">
         <%= f.text_field :hours, :placeholder => "1.5" %>
         <br>
          <%= link_to "cancel", :back, :class => "btn" %>
          <%= f.submit "Update hours", :class => "btn btn-success" %>
        </div>
      </div>
<% end %>
</section>
  </div><!--/span7 -->
 </div><!--row-->
</div><!--/container -->
