<div class="well">
  <%= link_to "Log your hours", new_user_hour_path, :class => "btn" %>
</div>

<h1> Your User hours for <%= Date.today.strftime('%b, %Y') %></h1>
<% unless @user_hours.empty? %>
<!-- Render user hours in partial -->
  <table class="table">
    <thread>
      <tr>
      <th>Date</th><th>Placement Name</th><th>Placement Area</th><th>Hours</th><th>Edit</th><th>Remove</th>
      </tr>
    </thread>
    <% @user_hours.each do |user_hour| %>
      <tr>
        <td><%= link_to user_hour.date_occurred, user_hour_path(user_hour.id) %></td>
        <td><%= user_hour.placement.name %></td>
        <td><%= user_hour.placement.area %></td>
        <td><%= user_hour.hours %></td>
        <td><%= link_to "edit", edit_user_hour_path(user_hour.id), :class => "btn btn-warning" %>
        <td><%= link_to "x", user_hour_path(user_hour.id), method: :delete, :class => "btn" %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Hey, you don't seem to have any hours logged for this month?</p>
<% end %>

<%= link_to "Your Archived Hours", archives_path, :class => "btn" %>