<div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "HourLogger", root_path, :class => "brand" %>
          <div class="container nav-collapse">
            <ul class="nav">
              <% if current_user %>
                <% unless current_user.is_mentor %>
                  <li><%= link_to "My Hours", user_hours_path %></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <% unless current_user && current_user.is_mentor %>
                <li><%= link_to "My Account", edit_user_registration_path  if current_user %></li>
              <% end %>
              <li><%= display_login  %></li>
              <li><%= link_to 'Sign up', new_user_registration_path, :class => "links" if !current_user %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>