<div class="container">
 <div class="row">
  <div class="span12 data-block"> 
   <header>
    <h2><span class="icon-user">&nbsp;Approve User Hours</span></h2>
   </header>
    <% if !@users.empty? %>
     <table class="table table-hover">
      <thead>
       <tr class="threeCol">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Approve Hours</th>
       </tr>
      </thead>
       <tbody>
        <% if !@outstanding.empty? %>
        <% @outstanding.each do |user| %>
         <tr>
          <td><%="#{user.first_name}"%></td>
          <td><%="#{user.last_name}"%></td>
          <td><%=link_to 'Approve', mentor_path(user), :class => "btn btn-success " %></td>
         </tr>
        <% end %> 
      <% end %>
       </tbody>
      </table>
    </div>
   </div>
 </div>

 <div class="container">
 <div class="row">
  <div class="span12 data-block"> 
   <header>
    <h2><span class="icon-user">&nbsp;Reviewed</span></h2>
   </header>
     <table class="table table-hover">
      <thead>
       <tr class="threeCol">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Reviewed</th>
       </tr>
      </thead>
       <tbody>
        <% @processed.each do |user| %>
         <tr>
          <td><%="#{user.first_name}"%></td>
          <td><%="#{user.last_name}"%></td>
          <td><%=link_to 'Review', mentor_path(user), :class => "btn btn-success " %></td>
         </tr>
         <% end %>
         
         <% end %>
       </tbody>
      </table>
    </div>
   </div>
 </div>

 <div class="container">
 <div class="row">
  <div class="span12 data-block"> 
   <header>
    <h2><span class="icon-user">&nbsp;Users With No Hours</span></h2>
   </header>
     <table class="table table-hover">
      <thead>
       <tr class="threeCol">
        <th>First Name</th>
        <th>Last Name</th>
        <th>No Hours</th>
       </tr>
      </thead>
       <tbody>
        <% @no_hours.each do |user| %>
         <tr>
          <td><%="#{user.first_name}"%></td>
          <td><%="#{user.last_name}"%></td>
          <td><span class="icon-ok"></span></td>
         </tr>
         <% end %>   
       </tbody>
      </table>
    </div>
   </div>
 </div>