<div class="container">
 <div class="row">
  <div class="span9 data-block"> 
   <header>
    <h2><span class="icon-user">&nbsp;Approve User Hours</span></h2>
   </header>
    <% if !@users.empty? %>
    <div class="table-responsive">
     <table class="table table-hover">
      <thead>
       <tr class="threeCol">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Approve Hours</th>
       </tr>
      </thead>
       <tbody>
        <% if !@outstanding.empty? %>
        <% @outstanding.each do |user| %>
         <tr>
          <td><%="#{user.first_name}"%></td>
          <td><%="#{user.last_name}"%></td>
          <td><%=link_to 'Approve', mentor_path(user), :class => "btn " + hours_status?(user) %></td>
         </tr>
        <% end %> 
      <% end %>
       </tbody>
      </table>
    </div>
    </div>

    <div class="span3 data-block">
     <header>
       <h2><span class="icon-key">&nbsp;Key</span></h2>
     </header>
       <section>
        <p>As a mentor you need to approve hours for your team members, below is a small key to advise you of what each coloured button means.</p>
         <div class="redSquare"></div><span class="key">Pending Approval</span><br>
         <div class="greenSquare"></div><span class="key">Approved</span>


      </section>
    </div>

   </div>
 </div>

 <div class="container">
 <div class="row">
  <div class="span9 data-block"> 
   <header>
    <h2><span class="icon-user">&nbsp;Reviewed</span></h2>
   </header>
   <div class="table-responsive">
     <table class="table table-hover">
      <thead>
       <tr class="threeCol">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Reviewed</th>
       </tr>
      </thead>
       <tbody>
        <% @processed.each do |user| %>
         <tr>
          <td><%="#{user.first_name}"%></td>
          <td><%="#{user.last_name}"%></td>
          <td><%=link_to 'Review', mentor_path(user), :class => "btn " + hours_status?(user) %></td>
         </tr>
         <% end %>
         
         <% end %>
       </tbody>
      </table>
    </div>
    </div>
   </div>
 </div>

 <div class="container">
 <div class="row">
  <div class="span9 data-block"> 
   <header>
    <h2><span class="icon-user">&nbsp;Users With No Hours</span></h2>
   </header>
   <div class="table-responsive">
     <table class="table table-hover">
      <thead>
       <tr class="threeCol">
        <th>First Name</th>
        <th>Last Name</th>
        <th>No Hours</th>
       </tr>
      </thead>
       <tbody>
        <% @no_hours.each do |user| %>
         <tr>
          <td><%="#{user.first_name}"%></td>
          <td><%="#{user.last_name}"%></td>
          <td><span class="icon-ok"></span></td>
         </tr>
         <% end %>   
       </tbody>
      </table>
    </div>
    </div>
   </div>
 </div>